/*  */

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.tablesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.tableWrapper {
  background: #f7f7f7;
  background-size: 100% 100%;
  padding: 20px;
  margin-left: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: none;
  gap: 20px;

  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5); /* Borde blanco */
  animation: bordeAnimado 2s infinite
}

@keyframes bordeAnimado {
  0% {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5);
  }
  50% {
    box-shadow: 0 0 0 2px rgba(0, 153, 255, 0.8);
  }
  100% {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5);
  }
}

.table {
  border: none;
}

.table th, .table td {
  border: none;
  background-color: transparent;
  padding: 10px;
 
}

.table th{
 padding-left:20px;
}
.table td{
  margin-left: 40px;
}
.tableWrapper .tableWrapper + .tableWrapper{
  margin-top: 20px;
}

@media (max-width: 768px) {
  .tableWrapper {
    width: 100%;
    margin: 20px;
  }
}