
/* .padre {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 20px;
}

.contenedorImg {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.wrapper {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.userCard {
  background-color: #ffffff5d;
  border-radius: 10px;
  padding: 40px;
  width: 775px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 2px 20px -5px rgba(0, 0, 0, 0.5);
}

@media (max-width: 768px) {
  .padre {
    margin: 20px auto;
    padding: 10px;
  }
  .title {
    font-size: 18px;
  }
  .contenedorImg {
    margin-top: 10px;
  }
  .wrapper {
    max-width: 300px;
  }
  .userCard {
    padding: 20px;
    width: 90%;
  }
} */

.container {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #6495ED;
}

.title {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 15px;
  font-size: 24px;
}

.wrapper {
  background-color: #ffffff5d;
  border-radius: 10px;
  padding: 40px;
  width: 100%; /* Cambiar a ancho relativo */
  max-width: 775px; /* Agregar un ancho máximo */
  position: relative;
  overflow: hidden;
  box-shadow: 0 2px 20px -5px rgba(0, 0, 0, 0.5);
}

.ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.li {
  margin-bottom: 10px;
}

/* Agregar reglas para diferentes tamaños de pantalla */

@media (max-width: 1200px) {
  .wrapper {
    max-width: 600px;
  }
}

@media (max-width: 992px) {
  .wrapper {
    max-width: 500px;
  }
}

@media (max-width: 768px) {
  .container {
    margin: 20px auto;
    padding: 10px;
  }
  .title {
    font-size: 18px;
  }
  .wrapper {
    max-width: 300px;
    height: auto;
  }
}

@media (max-width: 576px) {

  .wrapper {
    padding: 20px;
    margin: 0 auto;
    width: 100%;
    max-width: none;
  }
  .wrapper .p{
    text-align: center;
   
  }
}