.padre {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* height: 100vh; */
}

.h1 {
  margin-bottom: 20px;
}

.socialsIconsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.buttonIncon {
  background: none;
  border: none;
  padding: 10px;
  cursor: pointer;
  margin: 10px;
}
.buttonIncon svg path{
  fill: #ccc;
}

.buttonIncon:hover {
  transform: scale(1.1);
}

.socialsIconsContainer svg {
  width: 28px;
  height: 28px;
}

.socialsIconsContainer svg path {
  fill:#777; 
}

.socialsIconsContainer svg:nth-child(2) path {
  fill: #E1306C; /* Instagram */
}

.socialsIconsContainer svg:nth-child(3) path {
  fill: #0077b5; /* LinkedIn */
}


.socialsIconsContainer svg:nth-child(4) path {
  fill: #171515; /* GitHub */
}

.buttonIncon:hover {
  transform: scale(1.1);
}

.buttonIncon:nth-child(1):hover svg path {
  fill: #4267B2; /* Facebook */
}

.buttonIncon:nth-child(2):hover svg path {
  fill: #E1306C; /* Instagram */
}

.buttonIncon:nth-child(3):hover svg path {
  fill: #0077b5; /* LinkedIn */
}


.buttonIncon:nth-child(4):hover svg path {
  fill: #171515; /* GitHub */
}

@media (max-width: 768px) {
  .padre {
    height: auto;
  }
  .socialsIconsContainer {
    flex-direction: row;
  }
}