/*  */

.padre{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 6px;
    min-height: 20vh;
}
.contenedorImg {
    height: 200%;
    width: 100%;
    /* background: #daa000;  */ 
    background-image: url('../../assets/img/lago.jpg'); 
    font-family: 'Montserrat', sans-serif;
  }
  .wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .userCard {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   background-color: #ffffff5d;
   border-radius: 10px;
   padding: 40px;
   width: 919px;
   position: relative;
   overflow: hidden;
   box-shadow: 0 2px 20px -5px rgba(0, 0, 0, 0.5);
  }
  
  .userCard:before {
    content: '';
    position: absolute;
    height: 300%;
    width: 173px;
    background: #7aa9f0a4;
    top: -60px;
    left: -125px;
    z-index: 0;
    transform: rotate(17deg);
  }
  
  .userCardImg {
    display: flex;
    justify-content: center;
    align-items: center;   
    z-index: 3;
  }
  
  .userCardImg, .imagen {
    border-radius: 25px;
    transition: .2s;
    object-fit: cover;
  }
  .userCardImg, .imagen  :hover {
    box-shadow: 0 0 0 5px rgba(43, 68, 68, 0.404);
  }
  .userCardInfo {
    text-align: center;
    margin-top: 85px;
  }
  
  .userCardInfo h2 h3 {
    font-size: 25px;
    margin: 0;
    margin-bottom: 10px;
    font-family: 'Bebas Neue', sans-serif;
  }
  
  .userCardInfo p {
    font-size: 15px;
    /* margin-bottom: 5px; */
    /* margin-top: 5px; */
    text-align: center;
    font-size: 25px;
    font-family: serif;
  }
  .parrafo{
    margin-bottom: 15px;
    font-weight: 700;
    margin-right: 10px;
  }
  .parrafo01{
    margin-bottom: 15px;
    font-weight: 00;
  }



  @media only screen and (min-width: 768px) {
    .userCard {
      flex-direction: row;
      align-items: flex-start;
    }   
    .userCardImg {
      margin-right: 20px;
      margin-bottom: 0;
    }
  
    .userCardInfo {
      text-align: left;
    }
  }
  
  @media (max-width: 767px){
    .wrapper{
       padding-top: 3%;
    }
    .userCard:before {
       width: 300%;
       height: 200px;
       transform: rotate(0);
    }
    .userCardInfo{
      margin-top:15px
    }
  
    .userCardInfo h2 h3{
       font-size: 20px;
    }
    .userCardInfo p  {
       display: block;
       margin-bottom: 15px;
       font-size: 20px;
    }
  }
  /*  */
  .socialsIconsContainer{
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: center;
    margin-top: 40px;
}
.name{
    text-align: center;
    font-size: 30px;
}
  
 